/* This is the start of my navigation  */

nav{
    width: 100%;
    height: 70px;
    text-align: right;
    background-color: #00C2CB;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    float: right;
  }

nav ul a{
    text-decoration: none;
}  

nav ul a li{
    display: inline-block;
    color: #fff;
    margin:0 0px;
    padding:21px 30px;
}

nav ul a li:hover{
    color: #00C2CB;
    background-color: #fff;
}

li {
    float: right;
 } 

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }  
    
li a:hover:not(.active) {
    background-color: #ddd;
  }
  
li a:active {
    color: #FFFDFB;
    background-color: #44a2f8;
  }

.logo {
    float: left;
    position: relative;
    display: inline-block;
}

.logo .logo2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo:hover .logo2 {
    display: inline;
}
/* This is the end of my navigation  */


/* This is the start of my hero section  */

/*main{
    width: 100%;
    height: 850px;
    background-color: darkgrey;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/FINAL project/img/hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}*/


  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: hsla(183, 100%, 40%, 1);

    background: linear-gradient(90deg, hsla(183, 100%, 40%, 1) 0%, hsla(290, 25%, 76%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(183, 100%, 40%, 1) 0%, hsla(290, 25%, 76%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(183, 100%, 40%, 1) 0%, hsla(290, 25%, 76%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00C2CB", endColorstr="#CCB3D1", GradientType=1 );
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(129,230,217,1) ;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position:absolute;
    top: 50%;
    left: 43%;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 60px solid 00C2CB;
    box-shadow: 0 0 60px 00C2CB;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #bbbbbb;
    transform: translateY(-16px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }


.herovid {
    height: 1072px;
}

.herovid video{
    width:100%;
    height: 1072px;
}
/* This is the end of my hero section  */

/* This is the start of my  footer  */

footer{
    white-space: normal;
    background: hsla(183, 100%, 40%, 1);

    background: linear-gradient(90deg, hsla(183, 100%, 40%, 1) 0%, hsla(290, 25%, 76%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(183, 100%, 40%, 1) 0%, hsla(290, 25%, 76%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(183, 100%, 40%, 1) 0%, hsla(290, 25%, 76%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00C2CB", endColorstr="#CCB3D1", GradientType=1 );
    height: 100%;
    position: absolute; 
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 45px;
}
footer p{
    color: white;
}

footer a {
    padding: 0;
}
.fa-linkedin {
   color:#0066CC;
}

/* This is the end of my  footer  */